@model E_commerce.viewModels.loginVm

@{
    ViewData["Title"] = "login";
}

<h1 class="text-center">Login</h1>

<h4>LoginVm</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="rememberMe" /> @Html.DisplayNameFor(model => model.rememberMe)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
        </form>
        <hr />
        <div class="text-center">
            <p>Or login with:</p>
            <a href="#" class="btn btn-danger"><i class="fab fa-google"></i> Login with Google</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
