<div class="container-fluid">
    <div class="slider-area">
        <div class="slider-active dot-style">
            <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="hero__caption">
                                <h1>fashion<br>changing<br>always</h1>
                                <form asp-action="" asp-controller="">
                                    <button type="submit" class="btn" />Shop Now</butto>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="hero__caption">
                                <h1>fashion<br>changing<br>always</h1>
                                <a href="shop.html" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="hero__caption">
                                <h1>fashion<br>changing<br>always</h1>
                                <a href="shop.html" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

