@model E_commerce_MVC.viewModels.NewcategoryVM

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .center-content {
        max-width: 400px; /* Adjust as needed */
        width: 100%;
    }
</style>

<div class="center-screen">
    <div class="center-content">
        <h4>NewcategoryVM</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="addNewCategory" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="imageURL" class="control-label"></label>
                        <input type="file" asp-for="imageURL" class="form-control" />
                        <span asp-validation-for="imageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
