@model List<E_commerce.Models.Category>

@{
    ViewData["Title"] = "GetAllCategory";
}


<div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var category in Model)

            {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="popular-img">
                            <img src="/imgTest/@category.imageURL" alt=""> @* I will change the path this for test *@
                            <div class="img-cap">
                                <span>@category.Name</span>
                            </div>
                            <div class="favorit-items">
                                <form asp-action="" asp-controller="" method=""> 
                                    <input type="hidden" name="categoryId" value="@category.Id" />
                                    <button type="submit" class="btn">Shop Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
     }
 </div>
</div>
</div>
