@{
    ViewData["Title"] = "GetAllProducts";
    Layout = "_Layout";
}

<h1>GetAllProducts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
        }
    </tbody>
</table>
